@model Employee
@{
    ViewData["Title"] = "Delete";
}

<h1>Delete Employee</h1>


<form asp-action="Delete">
    <partial name="EmployeePartialView/_DeleteDetailsPartialView" model="@Model" />
    <div class="my-3">
        <input type="submit" asp-route-id="@Model.Id" value="Delete" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-light ">
            Back To List
        </a>
    </div>
</form>