@model IEnumerable<Employee>
@{
    ViewData["Title"] = "Index";
}

<h1>All Employees</h1>
<br />
<br />
<a asp-action="Create" asp-controller="Employee" class="btn btn-primary">Create Employee</a>
<br />
<br />
